<h1>Back Office: CRUDs</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4 align-center">
      <button mat-raised-button class="backoffice-button" color="primary" routerLink="/back_office/products">Products <mat-icon>open_in_new</mat-icon></button>
    </div>
    <div class="col-md-4 align-center">
      <button mat-raised-button class="backoffice-button" color="primary" routerLink="/back_office/categories">Categories <mat-icon>open_in_new</mat-icon></button>
    </div>
    <div class="col-md-4 align-center">
      <button mat-raised-button class="backoffice-button" color="primary" routerLink="/back_office/manufacturers">Manufacturers <mat-icon>open_in_new</mat-icon></button>
    </div>
  </div>
</div>


