<div class="login-form-flex">
  <mat-card>
    <mat-card-title>
      Signup
    </mat-card-title>
    <mat-card-content>
      <form class="form-signin"
            [formGroup]="signupForm"
            (ngSubmit)="registerUser()">
        <div class="form-group">
          <label>Name</label>
          <input type="text"
                 class="form-control"
                 formControlName="name"
                 placeholder="Enter name"
                 required />
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input type="email"
                 class="form-control"
                 formControlName="email"
                 placeholder="Enter email"
                 required />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password"
                 class="form-control"
                 formControlName="password"
                 placeholder="Password"
                 required />
        </div>
        <div class="button">
          <button mat-raised-button color="primary" type="submit">Registrarse</button>
        </div>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-flex-container">
        <button mat-raised-button color="primary">Entrar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
