<body>
  <!-- NAVBAR -->
  <header>
    <mat-toolbar color="primary" class="mat-elevation-z8 nav-gradient">
      <span class="fill-remaining-space">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item routerLink="/home">
            <span>Inicio</span>
          </button>
          <button mat-menu-item routerLink="/back_office">
            <span>Back-Office</span>
          </button>
        </mat-menu>
      </span>
      <span routerLink="/home" class="fill-remaining-space pointer"><img src="../assets/img/logo.png" class="logo" /> Computer-Box</span>
      <button mat-icon-button routerLink="/access">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <!-- END NAVBAR -->

  <div class="container1">
    <router-outlet></router-outlet>
  </div>

  <!-- FOOTER -->
  <mat-toolbar id="footer" color="primary" class="mat-elevation-z8 nav-radial-gradient">
    <div class="container2">      
        <span id="footer-left" class="fill-remaining-space my_accent_text"><img src="../assets/img/logo.png" class="logo-footer-eslogan" /> <br />TU ORDENADOR. <br />A TU MEDIDA. </span>
        <span id="footer-right" class="fill-remaining-space"><img src="../assets/img/logo.png" class="logo" /> Computer-Box</span>
    </div>
  </mat-toolbar>
  <!-- END FOOTER -->
</body>
