<mat-button-toggle routerLink="/products">Products</mat-button-toggle>
<mat-button-toggle routerLink="/products/manufacturer/1">ProductsByManufacturer</mat-button-toggle>
<mat-button-toggle routerLink="/manufacturers">Manufacturers</mat-button-toggle>
<mat-button-toggle routerLink="/manufacturers/new">Crear manufacturer</mat-button-toggle>
<mat-button-toggle routerLink="/manufacturers/1/edit">Editar manufacturer</mat-button-toggle>
<mat-button-toggle routerLink="/manufacturers/1/detail">Editar manufacturer</mat-button-toggle>




<router-outlet></router-outlet>
