/* You can add global styles to this file, and also import other style files */

.pointer {
    cursor: pointer;
}
.nav-gradient {
  background-image: linear-gradient(to right, #1b0749 3%, #591f83 11%)
}

.nav-radial-gradient {
  background: radial-gradient(at 79% 78%,#591f83 2%,#1b0749)
}
.contador {
    display: none;
}
p.user-name-display {
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.8rem;
}
.user-icon {
  height: 1.9rem;
}

/*footer contrast fix*/
.white-text {
    color: #fff;
}
/*footer heading*/
.heading {
    display: inline;
    margin-left: 0.5rem;
}

::ng-deep div.mat-menu-content {
  overflow: hidden !important;
}
.footer-fix {
    max-width: 100%;
}

/** media query for mobile */
@media (min-width: 0px) and (max-width: 390px) {
  .logo {
      width: 1.3rem;
  }
  .logo-text {
      font-size: 1rem;
  }
}
