<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de fabricantes</h1>

      <button mat-raised-button color="primary" routerLink="/back_office/manufacturers/new">
        Nuevo Fabricante
        <mat-icon>add</mat-icon>
      </button>
      <table mat-table [dataSource]="manufacturers" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Identificador (Id) </th>
          <td mat-cell *matCellDef="let manufacturer"> {{manufacturer.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let manufacturer"> {{manufacturer.name}} </td>
        </ng-container>

        <ng-container matColumnDef="slug">
          <th mat-header-cell *matHeaderCellDef> Slug </th>
          <td mat-cell *matCellDef="let manufacturer"> {{manufacturer.slug}} </td>
        </ng-container>

        <ng-container matColumnDef="imgUrl">
          <th mat-header-cell *matHeaderCellDef>Img Url</th>
          <td mat-cell *matCellDef="let manufacturer" class="imgUrl"> {{manufacturer.imgUrl}} </td>
        </ng-container>

        <ng-container matColumnDef="foundationDate">
          <th mat-header-cell *matHeaderCellDef> Año creación </th>
          <td mat-cell *matCellDef="let manufacturer"> {{manufacturer.foundationDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let manufacturer">

            <button mat-raised-button color="primary" [routerLink]="['/back_office/manufacturers', manufacturer.id, 'detail']">
              Ver
              <mat-icon>visibility</mat-icon>
            </button>

            <button mat-raised-button color="accent" [routerLink]="['/back_office/manufacturers', manufacturer.id, 'edit']">
              Editar
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-raised-button color="warn" (click)="onDelete(manufacturer.id)">
              Borrar
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
        <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
      </table>
    </div>
  </div>
</div>
