<!-- Form starts -->

<form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">

  <!--<p>
    <label for="name">Name </label>
    <input type="text" id="name" name="name" formControlName="name">
  </p>-->


  Skills:
  <div formArrayName="skills">
    <div *ngFor="let skill of skills.controls; let i=index">
      <div [formGroupName]="i">
        {{i}}
        <img src="../assets/img{{skill.value.img}}" />
        skill name :
        <input type="text" formControlName="skill">
        exp:
        <input type="text" formControlName="exp">
        quantity:
        <mat-form-field appearance="fill">
          <mat-label>Cantidad</mat-label>
          <input matInput formControlName="quantity" type="number" min="1" max="{{skill.value.stock}}">
        </mat-form-field>


        <button (click)="removeSkill(i)">Remove</button>
      </div>
    </div>
  </div>

  <p>
    <button type="submit">Submit</button>
  </p>

</form>


<!--<p>
  <button type="button" (click)="addSkills()">Add</button>
</p>-->





<!-- Form ends -->
<!--
<mat-form-field appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" value="{{product.quantity}}" min="1" max="{{product.stock}}">
      </mat-form-field>

-->
