<!-- Form starts -->

<form [formGroup]="itemsForm" (ngSubmit)="onSubmit()">


  <div formArrayName="items" class="container">
    <mat-card *ngFor="let item of items.controls; let i=index" class="row mb-3">
      <div [formGroupName]="i" class="col">
        <input type="hidden" formControlName="id" />
        <div class="conatiner">
          <div class="row">
            <div class="col-sm-3 min-width-img text-center text-sm-start">
              <img src="../assets/img{{item.value.img}}" class="img" />
            </div>
            <div class="col mt-3 mt-sm-0">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h4>
                      <strong>{{item.value.name}}</strong>
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-9 col-md-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>Cantidad</mat-label>
                      <input matInput formControlName="quantity" type="number" min="1" max="{{item.value.stock}}" (change)="handleQuantityPersistence(item)">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <div class="conatiner">
                      <div class="row justify-content-sm-end">
                      <div class="col-auto">
                        <h5>Precio unidad: <strong>{{item.value.price}}€</strong></h5>
                      </div>
                      <div class="col-auto">
                        <h5>Precio total: <strong>{{calcSingleItemPrice(item.value.quantity, item.value.price)}}€</strong></h5>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <button (click)="removeItem(i)" _ngcontent-wmy-c109="" mat-raised-button="" color="warn" class="mat-focus-indicator mat-raised-button mat-button-base mat-warn ng-star-inserted" ng-reflect-color="warn">
            <span class="mat-button-wrapper">
              Eliminar
              <mat-icon _ngcontent-wmy-c109="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
              delete_forever
              </mat-icon>
              </span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span></button>
          </div>
        </div><!--end row-->
      </div><!--end conteiner within-->
    </mat-card>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>
          Total: {{totalPrice}}€
        </h3>
      </div>
    </div>
    <div class="row" *ngIf="errorReport.isError">
      <div class="col">
        <div class="alert alert-danger" role="alert">
          <strong>ERROR</strong>: {{errorReport.text}}
        </div>
      </div>
      </div>
        <div class="row">
          <div class="col">
            <button type="submit" _ngcontent-edp-c109="" mat-raised-button="" color="primary" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary ng-star-inserted" ng-reflect-color="primary">
            <span class="mat-button-wrapper"> Comprar
              <mat-icon _ngcontent-edp-c109="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
              add_shopping_cart
              </mat-icon>
              </span>
            <span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]">
              </span>
              <span class="mat-button-focus-overlay">
                </span>
            </button>


          </div>
        </div>
      </div>

</form>
