<h1>Listado de productos organizados por fabricante</h1>

<div class="container">

  <div class="row my-5 card-shadow" *ngFor="let product of products">
    <div class="col-3 p-3 product-img">
      <img src="../assets/img{{product.imgUrl}}" />
    </div>
    <div class="col ms-5">
      <div class="container h-100 position-relative">

        <div class="row">
          <div class="col">
            <div>
              <h2 class=" fw-bold mb-0">{{product.name}} {{product.cpu ?? ""}} {{product.ram ?? ""}} {{product.graphicCard ?? ""}}</h2>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col">
            <div>
              <span class="me-2 mb-3 my_primary_text fw-bold">
                <span [routerLink]="['/products/category', product.category.slug]">{{product.category.name}}</span> | <span [routerLink]="['/products/manufacturer', product.manufacturer.slug]">{{product.manufacturer.name}}</span>
              </span>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col">
            <div>
              <h2 class="price mb-0">{{formatInt(product.price)}}<span class="decimals" *ngIf='$any(product.price).toString().split(".")[1]'>, {{$any(product.price).toString().split(".")[1]}}</span><span class="currency">€</span></h2>
            </div>
          </div>
        </div>

        <div class="row negative_margin">
          <div class="col">
            <div>
              <span class="me-2 mb-3 my_accent_text fw-bold">
                <span>{{product.stock}} en stock</span> | <span>disponible desde {{product.releaseDate | date}}</span>
              </span>            </div>
          </div>
        </div>

        <div class="row justify-content-end mb-3">
          <div class="col-auto">
            <button mat-raised-button color="primary" [routerLink]="['/products', product.slug,'detail']">
              Ver producto
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
