<div class="login-form-flex">
  <mat-card>
    <mat-card-title>
      Login
    </mat-card-title>
    <mat-card-content>
      <form class="form-login" [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Correo" formControlName="email">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Contraseña" formControlName="password">
          </mat-form-field>
        </p>

        <!--<p *ngIf="error" class="error">
    {{ error }}
  </p>-->
        

        <div class="button">
          <button mat-raised-button color="primary" type="submit">Entrar</button>
        </div>

      </form>
    </mat-card-content>
    <!--<mat-card-actions>
      <div class="button-flex-container">
        <button mat-raised-button color="primary" (click)="onEnter()" >Entrar</button>
      </div>
      <div class="button-flex-container">
        <button mat-raised-button color="primary" (click)="onExit()">Salir</button>
      </div>
    </mat-card-actions>-->
  </mat-card>
</div>
