<h1>Detalle de un producto</h1>
<div class="container">
  <div class="row">
    <mat-card class="example-card col" *ngIf="product">

      <mat-card-content>
        <p><strong>Id:</strong> {{product.id}} </p>
      </mat-card-content>
      <mat-card-title class="mb-5">{{product.name}}</mat-card-title>

      <mat-card-content class="d-flex justify-content-center">
        <img _ngcontent-qvg-c162="" mat-card-image="" src="../assets/img{{product.imgUrl}}" alt="{{product.name}}" class="mat-mdc-card-image mdc-card__media">
      </mat-card-content>

      <mat-card-content>
        <p><strong>Precio:</strong> {{product.price}}€ </p>
      </mat-card-content>



      <mat-card-content>
        <p><strong>Fecha de publicación:</strong> {{product.releaseDate | date}}</p>
      </mat-card-content>
      <mat-card-content>
        <p><strong>Stock en tienda: </strong> {{product.stock}} </p>
      </mat-card-content>
      <mat-card-content>
        <strong>Características: </strong>

        <p><strong>CPU:</strong> {{product.cpu}} </p>
        <p *ngIf="product.ram"><strong>RAM:</strong> {{product.ram}} </p>
        <p *ngIf="product.graphicCard"><strong>GPU:</strong> {{product.graphicCard}}</p>

      </mat-card-content>


      <mat-card-content>
        <p><strong>Categoria: </strong> {{product.category.name}} </p>
      </mat-card-content>

      <mat-card-content>
        <p><strong>Marca: </strong> {{product.manufacturer.name}} </p>
      </mat-card-content>


      <mat-divider inset></mat-divider>

      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/back_office/products', product.id, 'edit']">Editar</button>
        <button mat-raised-button color="accent" routerLink="/back_office/products">Volver</button>
        <button *ngIf="product.id" mat-raised-button color="warn" (click)="onDelete(product.id)">Borrar</button>
      </mat-card-actions>

      <mat-card-footer>
        <small></small>
      </mat-card-footer>

    </mat-card>

    <mat-card class="example-card" *ngIf="!product">
      <mat-card-content>
        <p>Cargando producto....</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
