<h1>Detalle de un producto</h1>

<mat-card class="example-card" *ngIf="product">

  <mat-card-title>P{{product.id}}: {{product.name}} / {{product.price}}€</mat-card-title>




  <!--<mat-divider inset></mat-divider>-->
  <mat-card-content>
    <p><strong>Fecha de publicación:</strong> {{product.releaseDate}}</p>
  </mat-card-content>
  <mat-card-content>
    <p><strong>Stock en tienda: </strong> {{product.stock}} €</p>
  </mat-card-content>
  <mat-card-content>
    <strong>Características: </strong>
    <p>
      CPU: {{product.cpu}} <br />
      RAM: {{product.ram}} <br />
      GPU: {{product.graphicCard}}
    </p>
  </mat-card-content>

  

  
<!--
  <mat-divider inset></mat-divider>

  <mat-card-actions>
    <button mat-raised-button color="primary">Editar</button>
    <button mat-raised-button color="warn" (click)="onDelete(book.id)">Borrar</button>
    <button mat-raised-button routerLink="/books">Volver</button>
  </mat-card-actions>

  <mat-card-footer>
    <small></small>
  </mat-card-footer>

</mat-card>
  -->
<mat-card class="example-card" *ngIf="!product">
  <mat-card-content>
    <p>Cargando producto....</p>
  </mat-card-content>
</mat-card>
