<mat-accordion *ngFor="let order of orders; let i = index;">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Order# {{i + 1}}
      </mat-panel-title>
      <mat-panel-description>
        <div class="container">
          <div class="row">
            <div class="col">
              Order Date: {{order.orderTime | date}}
            </div>
            <div class="col">
              Total items: {{calcTotalItems(order)}}
            </div>
            <div class="col">
              Total Price: {{calcTotalPrice(order)}}€
            </div>
          </div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let od of order.orderDetails">
      {{od.product?.name}}
      <div class="container">
        <div class="row">
          <div class="col">
            Nombre: {{od.product?.name}}
          </div>
          <div class="col">
            Cantidad: {{od.quantity}}
          </div>
          <div class="col">
            Precio total: {{calcTotalPricePerProduct(od.product?.price, od.quantity)}}
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  </mat-accordion>
