<div class="container">
  <div class="row">
    <div class="col">
  <h1>Listado de productos</h1>
  <button mat-raised-button color="primary" routerLink="/back_office/products/new">
    Create
    <mat-icon>add</mat-icon>
  </button>
  <!--<table mat-table [dataSource]="products" class="mat-elevation-z8">-->
  <table mat-table [dataSource]="products" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Identificador (Id) </th>
      <td mat-cell *matCellDef="let product"> {{product.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let product"> {{product.name}} </td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef> Coste </th>
      <td mat-cell *matCellDef="let product"> {{product.cost}} </td>
    </ng-container>


    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let product"> {{product.price}} </td>
    </ng-container>

    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let product"> {{product.stock}} </td>
    </ng-container>

    <ng-container matColumnDef="tax">
      <th mat-header-cell *matHeaderCellDef> Tasa </th>
      <td mat-cell *matCellDef="let product"> {{product.tax}} </td>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef> Año publicación </th>
      <td mat-cell *matCellDef="let product"> {{product.releaseDate}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let product">

        <button mat-raised-button color="primary" [routerLink]="['/back_office/products', product.id, 'detail']">
          Ver
          <mat-icon>visibility</mat-icon>
        </button>

        <button mat-raised-button color="accent" [routerLink]="['/back_office/products', product.id, 'edit']">
          Editar
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-raised-button color="warn" (click)="onDelete(product.id)">
          Borrar
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>

  </table>
  </div>
  </div>
</div>
