
<h2>Producto</h2>

<mat-card class="example-card" *ngIf="error">
  Se ha producido un error, Inténtalo de nuevo más tarde.
</mat-card>

<!--

id?: number;
  name?: string;
  cost?: number;
  price?: number;
  stock?: number;
  tax?: number;
  releaseDate?: any;

  cpu?: string;
  ram?: number;
  graphicCard?: string;
-->

<form class="example-form" [formGroup]="editForm" (ngSubmit)="save()">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Id</mat-label>
    <input matInput type="number" formControlName="id">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Coste</mat-label>
    <input matInput type="number" formControlName="cost">
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Precio</mat-label>
    <textarea matInput type="number" formControlName="price"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Estoc</mat-label>
    <input matInput type="number" type="text" formControlName="stock">
  </mat-form-field>

  


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Año de lanzamiento</mat-label>
    <input matInput formControlName="releaseDate">
  </mat-form-field>

  <!--<mat-form-field appearance="fill">
    <mat-label>Selector de autor</mat-label>
    <mat-select formControlName="authorId">
      <mat-option *ngFor="let author of authors" [value]="author.id">
        {{//author.fullName}}
      </mat-option>
    </mat-select>
  </mat-form-field>-->




  <button mat-raised-button color="primary" type="submit">Guardar</button>
  <button mat-raised-button color="warn" routerLink="/products">Cancelar</button>
</form>
