<div class="container">
  <div class="row">
    <div class="col">
      <h1>Detalle de una Marca</h1>
      <mat-card class="example-card" *ngIf="manufacturer">

        <mat-card-title>{{manufacturer.name}}</mat-card-title>

        <mat-card-content>
          Id: {{manufacturer.id}}
        </mat-card-content>

        <mat-card-content>
          Slug: {{manufacturer.slug}}
        </mat-card-content>

        <mat-card-content>
          Url Img: {{manufacturer.imgUrl}}
        </mat-card-content>

        <mat-card-content>
          Fecha de fundación: {{manufacturer.foundationDate| date:'M/d/y'}}
        </mat-card-content>




        <mat-divider inset></mat-divider>

        <mat-card-actions>
          <button mat-raised-button routerLink="/back_office/manufacturers/{{manufacturer.id}}/edit" color="primary">Editar</button>
          <button mat-raised-button color="warn" (click)="onDelete(manufacturer.id)">Borrar</button>
          <button mat-raised-button routerLink="/back_office/manufacturers">Volver</button>
        </mat-card-actions>

        <mat-card-footer>
          <small></small>
        </mat-card-footer>

      </mat-card>

      <mat-card class="example-card" *ngIf="!manufacturer">
        <mat-card-content>
          <p>Cargando producto....</p>
        </mat-card-content>
      </mat-card>
      </div>
</div>
</div>
