/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

table {
  width: 100%;
  align-content: center;
}

.container {
  /*display: flex;*/
  padding-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}


/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/


